<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "Qual seu próximo objetivo?" %>
  <%= submit "Adicionar", phx_disable_with: "Adicionando..." %>
</form>

<%= for todo <- @todos do %>
    <div>
    <%= checkbox(:todo, :done, phx_click: "toggle_done", phx_value_id: todo.id, value: todo.done) %>
<button phx-click="delete" phx-value-id={todo.id}>Deletar</button>
    <%= todo.title %></div>
<% end %>
